Projects/steering/.vs/
Projects/steering/Debug
Projects/steering/steering.VC.db
Projects/steering/steering.VC.VC.opendb
Projects/pathfinding/Pathfinding/Debug/
Projects/pathfinding/Pathfinding/Game/Debug/
Projects/pathfinding/Pathfinding/.vs/
Projects/pathfinding/Pathfinding/Editor/Debug/
Projects/pathfinding/Pathfinding/CommonPathfindingLib/Debug/
Projects/pathfinding/assignment4.zip